<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Congratulations on taking your first step towards trying to break a habit!</p>
  <p>Breaking a habit is not easy and will take time, but by recognizing your habit loop the process is much faster.</p>
  <p>First lets identify the habit you are trying to break:</p>
  <form action="/break-habits" method="POST">
    <label>
      <input type="text" name="routine" autocomplete="off" required>
    </label> 
    <button>Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>