  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-links">
      <% if (user) { %>
        <a href="/goals">Goals</a>
        <a href="/journal">Journal</a>
      <% } %>
    </div>
    <div class="google">
      <% if (user?.profile.avatar) { %>
        <div class="profile-avatar">
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      <% } %>
      <% if (user) { %>
        <a href="/auth/logout" class="right">
          <button type="submit">Logout</button>
        </a>
      <% } %>
    </div>
  </nav>
