  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-links-container">
      <% if (user) { %>
        <a href="/goals" class="nav-links">Goals</a>
        <a href="/journals" class="nav-links">Journal</a>
        <a href="/habits" class="nav-links">Habits</a>
        <a href="/profiles" class="nav-links">Add Friends</a>
        <% } %>
    </div>
    <div class="google">
      <% if (user?.profile.avatar) { %>
        <div>
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
            class="profile-avatar"
          />
        </div>
      <% } %>
      <% if (user) { %>
        <a href="/auth/logout" class="right">
          <button type="submit">Logout</button>
        </a>
      <% } %>
    </div>
  </nav>
