form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journal-content{
  width: 400px;
  margin-left: 25px;
  text-align: left;
}

.checkin-date{
  margin-bottom: 0;
}

.delete-btn{
  margin-left: 25px;
  height: fit-content;
}

.new-journal-btn{
  margin-top: 25px;
}