form:nth-child(even){
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 217,147,.3);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 25px;
  border-radius: 10px;
  margin: 5px;
}

form:nth-child(odd){
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 217,147,.13);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 25px;
  border-radius: 25px;
  margin: 10px;
}

.journal-content{
  width: 400px;
  margin-left: 25px;
  text-align: left;
}

.checkin-date{
  margin-bottom: 0;
}

.delete-btn{
  margin-left: 25px;
  height: fit-content;
}

.new-journal-btn{
  margin-top: 25px;
}
button{
  background-color: #f5d993;
  color: #193540;
}
button:hover{
  color: white
}