main{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.friend-img{
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.profile-card{
  display: flex;
  flex-direction: column;
  border: 2px solid #172b34;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
  flex-wrap: wrap;
  width: 190px;
  height: fit-content;
  align-items: center;
  background-color: rgba(231,111,90,.1);
}
button{
  background-color: #e76f5a;
  color: #172b34;
}
button:hover{
  color: white
}
.blue-btn{
  background-color: #172b34;
  color: white;
}
#accept-btn{
  margin-bottom: 5px;
}
#friends{
  border: 2px solid #e76f5a;
  background-color: rgba(231,111,90,.2);
}