.goals-container{
  width: 95%;
  display: flex;
  justify-content: center;
}

table{
  table-layout: fixed;
  width: 800px;
  border-collapse: collapse;
}

tr{
  text-align: center;
}
thead{
  width: fit-content
}

tbody tr:nth-child(odd){
  background-color: rgba(231,111,90,.3);
}

tbody tr:nth-child(even){
  background-color: rgba(231,111,90,.1);
}

th{
  padding-bottom: 10px;
}

td{
  padding-top: 25px;
  padding-bottom: 25px;
}

button{
  background-color: #e76f5a;
  color: #172b34;
}
button:hover{
  color: white;
}
.new-goal-btn{
  margin-top: 25px;
}

a{
  text-decoration: none;
  color:#18323c;
}