<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
    <h1 class="welcome">Welcome to</h1>
    <img src="/images/level-up-logo.png" alt="level-up-logo" class="logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita labore, facere fugit dignissimos explicabo maxime eos! Reprehenderit officia corporis accusamus expedita, voluptates iste unde iure quae excepturi sit sequi qui.</p>
    <div class="img-container">
      <img src="" alt="">img1
      <img src="" alt="">img2
    </div>
    <h3>Sign in to start tracking your goals!</h3>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
      data-prompt_parent_id="g_id_onload"
    ></div>
    <div 
      class="g_id_signin center"
      data-type="standard"
      data-size="medium"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="pill"
      data-logo_alignment="left"
    ></div>
  <% } %>
  <% if (user) {%>
    <h1>Create a SMART goal</h1>
    <h3>Specific</h3>
    <h3>Measurable</h3>
    <h3>Attainable</h3>
    <h3>Realistic</h3>
    <h3>Time-bound</h3>
    <a href="/goals/new">
      <button class="create-goal-btn">Create a New Goal</button>
    </a>
  <% } %>
</main>

<%- include('./partials/footer') %>
