<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
    <h1 class="welcome">Welcome to</h1>
    <img src="/images/level-up-logo.png" alt="level-up-logo" id="logo" class="animate__animated animate__zoomIn">
    <p class="description">The place to change your habits, track your goals, and LevelUp your life! Make the first step today by signing up! </p>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
      data-prompt_parent_id="g_id_onload"
    ></div>
    <div 
      class="g_id_signin center"
      data-type="standard"
      data-size="medium"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="pill"
      data-logo_alignment="left"
    ></div>
  <% } %>
  <% if (user) {%>
    <h1>Create a SMART goal</h1>
    <h3>Specific</h3>
    <h3>Measurable</h3>
    <h3>Attainable</h3>
    <h3>Realistic</h3>
    <h3>Time-bound</h3>
    <a href="/goals/new">
      <button class="create-goal-btn">Create a New Goal</button>
    </a>
  <% } %>
</main>

<%- include('./partials/footer') %>
