html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ececec;
  color: #000000;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #b4b4b4;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

.google{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-avatar{
  margin-right: 15px;
  border-radius: 50%;
}

main {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.img-container{
  display: flex;
  justify-content: center;
}

.create-goal-btn{
  width: 150px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.new-goal-container{
  display: flex;
  flex-direction: column;
}