html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #1f4250;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #1f4250;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 55px;
}
.nav-links-container{
  display: flex;
}
.nav-links-container>a{
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}
.logo-container>img{
  height: 60px;
  padding: 10px;
}
.nav-links-container>a:hover{
  padding: 10px;
  border-radius: 5px;
}

#goals-link:hover{
  background-color: #248378;
}
#journal-link:hover{
  background-color: #d5bd81;
  color: #193540;
}
#break-habit-link:hover{
  background-color: #75d0e7;
  color: #193540;
}
#add-friend-link:hover{
  background-color: #e76f5a;
  color: #172b34;
}
.nav-links-container>a.active-goal{
  background-color: #248378;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}
.nav-links-container>a.active-journal{
  background-color: #f5d993;
  color: #193540;
  padding: 10px;
  border-radius: 5px;
}
.nav-links-container>a.active-habit{
  background-color: #75d0e7;
  color: #193540;
  padding: 10px;
  border-radius: 5px;
}
.nav-links-container>a.active-profiles{
  background-color: #e76f5a;
  color: #172b34;
  padding: 10px;
  border-radius: 5px;
}
.google{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.profile-avatar{
  margin-right: 15px;
  border-radius: 50%;
  width: 45px;
}

main {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.img-container{
  display: flex;
  justify-content: center;
}
h1{
  padding-bottom: 10px;
  border-bottom: 1px solid #464937;
}
.create-goal-btn{
  width: 150px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.btns{
  display: flex;
  background-color: #264653;
}

button{
  background-color: #264653;
  color: #f5f5f5;
  padding: 7px;
  border-radius: 5%;
  border: none;
}

button:hover{
  cursor: pointer;
  background-color: #1f4250;
  box-shadow: 0 0 6px black;
}

button:active{
  box-shadow: 0 0 0;
}

.journal{
  display: flex;
}
.logo{
  height: 130px;
  margin-top: -20px;
}
.welcome{
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}