.goals-container{
  width: 95%;
  display: flex;
  justify-content: center;
}

table{
  table-layout: fixed;
  width: 800px;
  border-collapse: collapse;
}

tr{
  text-align: center;
}
th{
  width: fit-content;
}
th:nth-child(1){
  width: 150px;
}
th:nth-child(3){
  width: 150px;
  margin-left: 25px;
}
th:nth-child(4){
  width: 125px;
}

tbody tr:nth-child(odd){
  background-color: rgba(36,131,120,.3);
}

tbody tr:nth-child(even){
  background-color: rgba(36,131,120,.1);
}

th{
  padding-bottom: 10px;
}

td{
  padding-top: 25px;
  padding-bottom: 25px;
}

button{
  background-color: #21776d;
}

.new-goal-btn{
  margin-top: 25px;
}

a{
  text-decoration: none;
  color:#18323c;
}