table{
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
}

tr{
  border-bottom: 1px solid #464937;
}
thead{
  width: fit-content
}

th{
  padding: 10px;
}

td{
  padding-top: 25px;
  padding-bottom: 25px;
}

.new-goal-btn{
  margin-top: 25px;
}

