.delete{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 25px;
  margin-top: -10px;
 }

.deadline{
  margin-top: 5px;
}

.goal-content-header{
  font-weight: bold;
  margin-bottom: 0;
}

.goal-content, .checkin-content{
  width: 400px;
}
.checkin-header{
  margin-top: 60px;
}
.checkin-container:nth-child(even){
  background-color: rgba(36,131,120,.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 25px;
  border-radius: 10px;
  margin: 5px;
}
.checkin-container:nth-child(odd){
  background-color: rgba(36,131,120,.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 25px;
  border-radius: 10px;
  margin: 5px;
}
.checkin-content{
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

button{
  background-color: #21776d;
}
.dropdown-container{
  display: flex;
  padding-left: 35px;
  justify-content: left;
  /* margin-right: 25px;
  margin-top: -10px; */
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: right;
}

.dropdown-div {
  background-color: #248378;
  color: white;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}
.menu-icon{
  height:35px;
  width: 35px;
  padding: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
.hover-btn{
  border-radius: 0;
  width: 100%;
  background-color: white;
  color: #1f4250;
}
.hover-btn:hover{
  color: white;
  background-color: #248378;
  box-shadow: none;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}
.title{
  margin-bottom: 0;
}