<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/habits/new">
    <button>New Habit</button>
  </a>
</main>

<%- include('../partials/footer') %>